/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset*/

@font-face {
    font-family: LatoBlack;
    src: url('../fonts/Lato-black.eot?') format('eot'), url('../fonts/Lato-black.woff') format('woff'), url('../fonts/Lato-black.ttf') format('truetype');
}

.loading-screen{
    width: 100vw;
    min-height: 100vh;
}

.flex__center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

h1{
    font-family: LatoBlack;
    font-size: 18px;
}

.plane {
    width: 658px;
    height: 420px;
    margin-bottom: 50px;

    background-image: url("../images/sprite/plane-sprite.png");

    -webkit-animation: play 3s steps(45) infinite;
    -moz-animation: play 3s steps(45) infinite;
    -ms-animation: play 3s steps(45) infinite;
    -o-animation: play 3s steps(45) infinite;
    animation: play 3s steps(35) infinite;
}


@-webkit-keyframes play {
    from { background-position:    0px; }
    to { background-position: -59220px; }
}

@-moz-keyframes play {
    from { background-position:    0px; }
    to { background-position: -59220px; }
}

@-ms-keyframes play {
    from { background-position:    0px; }
    to { background-position: -59220px; }
}

@-o-keyframes play {
    from { background-position:    0px; }
    to { background-position: -59220px; }
}

@keyframes play {
    from { background-position:    0px; }
    to { background-position: -23030px; }
}

.world-map, #worldMapObject{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.world-map svg{
    width: 100%;
    height: 100%;
}
