@font-face {
  font-family: LatoBlack;
  src: url('../fonts/Lato-black.eot?') format('eot'), url('../fonts/Lato-black.woff') format('woff'), url('../fonts/Lato-black.ttf') format('truetype');
}

@font-face {
  font-family: LatoBold;
  src: url('../fonts/Lato-Bold.eot?') format('eot'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: OpenSansBold;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: OpenSansExtraBold;
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
