@import "reset";
@import "fonts";

.loading-screen{
  position: fixed;
  z-index: 20;
  width: 100vw;
  min-height: 100vh;
  background-color: white;

  img{
    width: 200px;
    height: auto;
  }
}

.flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: LatoBlack,sans-serif;
  font-size: 18px;
}

.plane {
  width: 658px;
  height: 420px;
  margin-bottom: 50px;

  background-image: url("../images/sprite/plane-sprite.png");

  animation: play 3s steps(35) infinite;
}

@keyframes play {
  from { background-position: 0; }
  to { background-position: -23030px; }
}

// SVG ----------------------------------

.world-map, #worldMapObject{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.world-map svg{
  width: 100%;
  height: 100%;
}

// ----------------- Country info box

.country-info{
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  display: none;

  &.active{
    display: inline-block;
  }

  &__text{
    display: inline-block;
    padding: 6px 18px;

    border: solid #f57e20 2px;
    border-radius: 5px;

    font-family: OpenSansBold,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.arrow-left{
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #f57c20 transparent transparent;
}

// Location info ----------------------------

.location_info{
  position: fixed;
  top: 30px;
  &.right{
    right: 30px;
  }
  &.left{
    left: 30px;
  }
  display: none;
  width: 400px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;

  background-color: white;
  border: solid 1px #e1e1e1;
  border-radius: 3px;

  &.active{
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 375px;
    padding-bottom: 35px;
  }

  h1,h2,h3,h4{
    color: #69ccde;
    text-transform: uppercase;
  }

  h3{
    font-family: OpenSansExtraBold,sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }

  p{
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

.social-icons{
  position: fixed;
  z-index: 10;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;

  a{
    margin: 0 15px;
  }
}

@import "archive";