@import "reset";
@import "fonts";

.loading-screen{
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.flex__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: LatoBlack,sans-serif;
  font-size: 18px;
}

.plane {
  width: 658px;
  height: 420px;
  margin-bottom: 50px;

  background-image: url("../images/sprite/plane-sprite.png");

  animation: play 3s steps(35) infinite;
}

@keyframes play {
  from { background-position: 0; }
  to { background-position: -23030px; }
}

// SVG ----------------------------------

.world-map, #worldMapObject{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.world-map svg{
  width: 100%;
  height: 100%;
}

// ----------------- Country info box

.country-info{
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  display: none;

  &.active{
    display: inline-block;
  }

  &__text{
    display: inline-block;
    padding: 6px 18px;

    border: solid #f57e20 2px;
    border-radius: 5px;

    font-family: OpenSansBold,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.arrow-left{
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #f57c20 transparent transparent;
}

// Location info ----------------------------

.location_info{
  position: fixed;
  top: 30px;
  right: 30px;
  display: none;
  width: 400px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;

  background-color: white;
  border: solid 1px #e1e1e1;
  border-radius: 3px;

  &.active{
    display: block;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 375px;
    padding-bottom: 35px;
  }

  h1,h2,h3,h4{
    color: #69ccde;
    text-transform: uppercase;
  }

  h3{
    font-family: OpenSansExtraBold,sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }

  p{
    font-family: OpenSans,sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

// Archive

.main_column{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 100px;
  padding-bottom: 80px;

  .nav_link{
    padding-right: 70px;

    font-family: OpenSansExtraBold;
    font-size: 16px;
    color: #69ccde;
    text-transform: uppercase;
    text-decoration: none;

    &:last-of-type{
      padding-right: 0;
    }
  }
}

.two_columns{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 100px;
}

.column_left{

  flex: 1;

  h1{
    font-size: 24px;
    font-family: OpenSansExtraBold, sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #7bccc0;
  }
  p{
    padding-bottom: 10px;

    font-family: OpenSans,sans-serif;
    font-size: 12px;
    color: #636466;

  }
}

.column_right{
  flex: 2;
  padding-left: 45px;

  .main_image{
    padding-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .gallery{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    img{
      width: 32%;
      height: 100%;
    }
  }
}

.slider{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;

  &_item{
    width: 15%;

    p{
      padding-top: 5px;
      font-family: OpenSans, sans-serif;
      font-size: 10px;
      text-transform: uppercase;
      color: #636466;
    }
  }

  img{
    width: 100%;
    height: 100%;
  }
}

footer{
  height: 100px;
}